<section class="container limite-container">
    <h2 class="titulo">Líder de Equipo</h2>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 g-4 p-3 justify-content-center">
        @for (lider of equipo_Lider; track $index) {
            <div class="col d-flex justify-content-center">
                <div class="card">
                    <img src="{{lider.img}}" class="card-img-top" alt="{{lider.name}}">
                    <div class="card-body">
                        <h5 class="card-title">{{lider.name}}</h5>
                    </div>
                    <a href="{{lider.enlace}}" target="_blank" rel="noopener noreferrer" class="btn btn-primary">GitHub</a>
                </div>
            </div>
        }
    </div>
</section>

